// ==============================
// Custom style
// ==============================

.page {
    position: relative;
    max-width: initial;
    width: 60%;
    margin: 1% auto;
    [pageStyle=wide][autoTOC=true] & {
      margin-left: 6%;
      margin-right: auto;
      width: 72%;
    }
    [pageStyle=wide][autoTOC=false] & {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    [header-desktop] & {
      padding-top: $header-height;
    }
  
    [header-desktop=normal] & {
      padding-top: 0;
    }
  
    @include blur;
  }